name: blur
description: To be able to blur widgets and images.
version: 0.0.1
author: Jagrit Kharbanda<jagritjkh.gmail.com>
homepage: https://github.com/jagritjkh/blur

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter